
:root{
    --first_color:#fff6e6;
    --second_color:#ffffff;

    --third_color:#8a4b5f;
    --fourth_color:#c06a8b;

    --fifth:#FE81D4;
    --sixeth:#8f5166;

    --seven:#d38fbc;
    --lgreen:#d1fae5;
    --lred:#ffe4ec;

    --success:#c06a8b;
    --success_hover:#8a4b5f;

    --active:#FE81D4;
    --disable:#8a4b5f;
}