:root{
    --first_color:#f7f7f7;
    --second_color: #eeeeee; 
    --third_color: #393e46; 
    --fourth_color: #929aab; 
    --fifth:#4a5565;
    --sixeth:rgb(170, 170, 170);
    --lgreen:#81ff81;
    --lred:rgb(250, 121, 121);
    --success:rgb(1, 172, 1);
    --success_hover:rgb(1, 132, 10);
    --active:rgb(26, 26, 26);
    --disable:rgb(108, 108, 108);
}
