:root{
    --first_color:#fff7ed;        
    --second_color:#bfbfbf;      
    --third_color:#7c2d12;      
    --fourth_color:#c2410c;       
    --fifth:#ea580c;              
    --sixeth:#977d60;            
    --lgreen:#bbf7d0;             
    --lred:#fecaca;               
    --success:#ea580c;
    --success_hover:#c2410c;
    --primary:#f97316;           
    --secondary:#fb7185;         
    --accent:#eab308;            
    --danger:#dc2626;
    --active:#c2410c;
    --disable:#6c757d;
}
/*  */