:root{
    --first_color:#f5f7ff;
    --second_color:#ffffff;

    --third_color:#2a356f;
    --fourth_color:#4a5bb5;

    --fifth:#5c6ff2;
    --sixeth:#2f3d7a;
    --seven:#aab4fb;
    --lgreen:#dcfce7;
    --lred:#ffe4e6;

    --success:#4a5bb5;
    --success_hover:#2a356f;

    --active:#f9a17a;
    --disable:#6b728080;
}