

main{
    overflow: hidden !important;

}
.form_bar{
    font-size: 1vw;
    display: flex;
    gap: 10px;
    margin: 0 0 10px 0;
    justify-content: center;
    background-color: var(--sixeth);
    padding: 5px;
    max-width: 700px;
    margin: auto;
    border-radius: 10px;
    color: var(--third_color);
}
.form_bar > span {
    flex-grow: 1;
    text-align: center;
    padding:0 5px;
    font-size: 13px;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    /* overflow: hidden; */
    border:none;
    background: linear-gradient(145deg, var(--sixeth), var(--fourth_color));
    box-shadow:  2px 2px 5px var(--third_color),-2px -2px 5px var(--fourth_color);
}
.form_bar > span.active_span{
   
     box-shadow: none;
}
.form_bar span::after{
    content: "";
    height: 100%;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 100%;
    background-color: var(--lgreen);
    z-index: -1;
    transition: .4s;
     box-shadow:  2px 2px 5px  #54a654,-2px -2px 5px  #aeffae;

}
.form_bar span.active_span::after{
right: 0;
}
.form_bar span.unactive_span::after{
    right:0;
left: 100%;
}
.form_bar > span.active_span > span{
    position: relative;
    z-index: 3;
}
form{
    overflow-x: hidden;
    overflow-y:hidden;
    border-radius: 10px;
    height: 100vh;
    padding: 0px;
    display: grid;
    gap: 0px;
    max-width: 700px;
    grid-template-columns: repeat(4, 100%);
    align-items: start;
    position: relative;
    padding-bottom: 200px;
    margin: auto;
    

}
.form_box {
    padding: 10px 10px 400px;
    border-radius: 10px;
    transition: .4s;
    opacity: 0;
    background: #ededed;
    position: absolute;
    left: 100% ;
    top: 0;
    width: 100%;
    overflow: scroll;
    height: 100%;
}
.form_box:nth-child(1){
    z-index: 5;
}
.form_box:nth-child(2){
    z-index: 4;
}
.form_box:nth-child(3){
    z-index: 3;
}
.form_box:nth-child(4){
    z-index: 2;
}
form.d-grid>div.active_box{
    opacity: 1;
    left: 0 ;
}

form label {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

form label input, form label select, form label textarea {
    padding: 6px 4px;
    border-radius: 8px;
    border: 1px solid #3333333a;
    outline: none;
    background: linear-gradient(145deg, #fefefe, #d5d5d5);
    box-shadow: 5px 5px 5px #c0c0c0,
                -5px -5px 5px #ffffff;
    transition: .4s;
}
form label input:hover, form label select:hover, form label textarea:hover{
    background-color: white;
    transform: translate(-2px, -2px);
}

textarea{
    min-height: 100px;
}
.btn_control button:first-child{
padding: 5px 10px;
background-color: var(--success);
color: white;
border: none;
border-radius: 7px;
transition: .4s;
}
.btn_control button:first-child:hover{
    background-color: var(--success_hover);
}
.btn_control a:last-child{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--second_color);
    border: none;
    border-radius: 7px;
    margin: 0 0 0 5px;
    transition: .4s;
    background-color: var(--third_color);
}
.btn_control a:last-child:hover{
    background-color: var(--fourth_color);
    color: white;
}
form label:has(:required) span::after{
    content: "*";
    color: var(--lred);
    margin-left: 3px;
}

.box_review{
    display: block;
}
#control_form{
    position: fixed;
    top: calc(500px);
}
.next, .prev{
padding: 5px 20px;
border: none;
outline: none;
border-radius: 10px;
transition: .3s;
left: 0;
top: 100px;
z-index: 100;
background-color: white;
margin: 15px 0;
}
.next{
    background-color: var(--fourth_color);
    left: 100%;
}
.next:hover{
    background-color: var(--third_color);
    color: white;
}
.prev:hover{
    background-color: var(--sixeth);
}
.next:disabled:hover{
    background-color: var(--fourth_color);
}
.next:disabled, .prev:disabled{
    cursor: not-allowed;
}
.alert{
    color: red;
    font-size: 14px;
    padding: 0;
    display: none;
}

div#success_add {
    display: none;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (min-width: 576px) { 
    body{
        background-color: red;
    }
    
    .form_bar > span{
        padding: 10px 5px;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   main{
            overflow: auto;
            padding-right: calc(var(--bs-gutter-x) * .5) !important;
            padding-left: calc(var(--bs-gutter-x) * .5) !important;
    }
    .form_bar > span {
    width: 148px;
    }
    .form_bar{
    gap: 30px;
    padding: 10px;
}  


.form_box {
    /* overflow: hidden; */
}
form label{
    gap: 10px;
}
form label input, form label select, form label textarea{
    padding: 10px 10px;
    
}

.box_review{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    #form_section{
        width: max-content;
        margin: auto;
    }
    .form_bar > span {
    font-size: 16px;
}
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }