*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --first_color:#f7f7f7;
    --second_color: #eeeeee; 
    --third_color: #393e46; 
    --fourth_color: #929aab; 
    --fifth:#4a5565;
    --sixeth:rgb(170, 170, 170);
    --lgreen:rgb(129, 255, 129);
    --lred:rgb(250, 121, 121);
    --success:rgb(1, 172, 1);
    --success_hover:rgb(1, 132, 10);
}

body{
    font-family:sans-serif;
}
.row{
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    background-color: var(--third_color);
    color: white;
}

.search_box label{
    border-right: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.551);
    font-weight: 100;
    color: white;
    background-color: var(--third_color);
}
.search_box input{
    padding: 5px;
    border-left: none;
    outline: none;
    background-color: var(--fourth_color);
    color: white;
}
.name_account{
    display: flex;
    flex-direction: column;
    width: max-content;
}
span#name_admin {
    align-self: start;
}
.name_account span{
    font-size: .8em;
    text-align: right;
    display: block;
    align-self: end;
}
.flex_topimg {
    width: 40px;
    border-radius: 40px;
    margin: 0 0px 0 5px;
}
aside{
    top:70px;
    height: 100vh;
    background-color: var(--third_color);
    background: linear-gradient(to left, white,var(--fifth));
}


#logo img {
    height: 50px;
}

aside ul{
    list-style: none;
}
aside li {
    font-size: 20px;
}
aside li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px ;
    transition: .7s;
    display: flex;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to right, var(--sixeth) 25%,var(--fifth) 50%,   var(--sixeth) );
background-size: 200%;
background-position: left;

}
aside li a.active{
    background-image: linear-gradient(to right, var(--third_color)  );
}
aside li a:hover:not(.active){
    background-position: right;
    translate:2px -2px;
    box-shadow: 1px 1px 3px 0px var(--third_color);
}
 aside li a:hover i{
    color: white;
}
aside li a i
{
    transition: .3s;
     color: var(--fifth);
}
main{
    padding: 35px 20px;
    background-color: var(--first_color);
    position: relative;
    right: 0;
    left: 100%;
    transform: translate(-100%, 0px);
    height: calc(100vh - 70px);
    overflow: auto;
}
section.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title > div > a {
    background: #4f39f6;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
}
.describe{
    color: var( --sixeth);
}