*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --first_color:#f7f7f7;
    --scond_color: #eeeeee; 
    --third_color: #393e46; 
    --fourth_color: #929aab; 
}

body{
    font-family:sans-serif;
}
.row{
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    background-color: var(--third_color);
    color: white;
}

.search_box label{
    border-right: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.551);
    font-weight: 100;
    color: white;
    /* background-color: var(--fourth_color); */
}
.search_box input{
    padding: 5px;
    border-left: none;
    outline: none;
    background-color: var(--fourth_color);
    color: white;
}
.name_account span{
    font-size: .8em;
    text-align: right;
    display: block;
}
.flex_topimg {
    width: 40px;
    border-radius: 40px;
    margin: 0 0px 0 5px;
}
aside{
    top:70px;
    background-color: var(--third_color);
    
}


#logo img {
    height: 50px;
}

aside ul{
    list-style: none;
}
aside li {
    font-size: 20px;
}
aside li a{
    text-decoration: none;
    /* color: #4a5565; */
    color: white;
    display: block;
    padding: 15px ;
    transition: .3s;
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(to right, white,#4a5565);
}
aside li a.active{
    background-color: #eef2ff;
    color: #4f39f6;
}
aside li a:hover:not(.active){
    background-color: #eef2ff95;
    color: #4a5565;
}
aside li a i
{
     color: #4a5565;
     
     
}
aside li a.active i{
    color: #4f39f6;
}
main{
    padding: 35px 20px;
    background-color: #F9FAFB;
    position: relative;
    right: 0;
    left: 100%;
    transform: translate(-100%, 0px);
    height: calc(100vh - 70px);
    overflow: auto;
}
section.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title > div > a {
    background: #4f39f6;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
}
.describe{
    color: #6a7282;
}