
main{
    overflow: hidden;
}
.add_client{
    background-color: var(--success);
    color: white;
    transition: .4s;
}
.add_client:hover{
background-color: var(--success_hover)    ;
border: 1px solid green;
box-shadow: 1px 1px 5px 0px #333;
translate: -4px -1px;
color: white;
}
.filter_box {
    display: flex;
    gap: 10px;
    align-items: stretch;
    border-radius: 10px;

    

    flex-direction: column;
    padding: 5px 0;
    box-shadow: none;
    margin: 10px 0 0;
}
.filter_box .search_box{
    flex: 2;
}




  .select_filter select {
    padding: 5px;
    height: 100%;
    border-radius: 10px;
    font-size: 17px;

}
.select_filter select option {
    font-size: 20px;
    background: #5a5a5a1c;
}
select > option:hover, select > option:checked{
    background-color: rgba(173, 216, 230, 0.562);
}
.table{
    overflow: scroll;
    padding-bottom:100px ;    
}

table {
    
    border: 1px solid #33333352;
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
    background: aliceblue;
    text-align: center;
}

thead{
    position: sticky;
    top: 0;
    z-index: 9;
    
}
table tbody tr:hover{
background-color: rgba(211, 211, 211, 0.375);
}
th, td {
    border-bottom: 1px solid #33333352;
    padding: 4px;
    text-align: center;
    border: 1px solid #33333350;
    font-size: 13px;
}
th{
    color: white ;
}
thead > tr > th{
    background-color: var(--seven);
}
.td_action{
    position: sticky;
    top: 0;
    right: 0;
    background: var(--seven);
}

td:first-child{
    font-weight: 600;
}
td:not(td:first-child){
    color: #6a7282;
}
td:nth-child(6) span{
    display: block;
    width: max-content;
}
td:nth-child(6) span:before {
    content: "";
    position: relative;
    top: 5px;
    left: 100%;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 10px;
}
.active_st::before{
    background: var(--lgreen);
}
.un_active_st::before{
    background: var(--lred);
}



td .action a {
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
}
td .action a:first-of-type, td .action a:visited:first-of-type{
color: rgb(1, 172, 1);
}
td .action a:last-of-type, td .action a:visited:last-of-type{
color: rgb(172, 1, 1);
}
td .action a:hover{
    background-color: rgba(211, 211, 211, 0.529);
}

.display_service{
    display: none;
}
.display_status{
    display: none;
}
.md_show{
    display:none
}

@media (min-width: 576px) { 
    body{
        background-color: red;
    }
    main{
    /* overflow: auto; */
}
   
    .filter_box{
        flex-direction: row;
        padding: 30px ;
        box-shadow: 1px 1px 3px #333;
        margin: 30px 0;
    }
  .select_filter select {
    padding: 10px 20px;
    height: 100%;
}
.md_show{
    display:table-cell;
}
th, td{
    font-size: 16px;
}
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }