section.flex_box {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
    padding: 30px 30px;
    background: var(--first_color);
    border-radius: 10px;
    box-shadow: 1px 1px 3px #333;
}

.business_status {
    display: flex;
    gap: 16px;
    padding: 16px;
    background: var(--second_color);
   box-shadow: 0px 0px 10px 2px var(--fourth_color);
    border-radius: 10px;
}
.business_status:hover{
      box-shadow: 0px 0px 10px 2px var(--lgreen);
   cursor:pointer;
}
h4.status_title {
    font-size: medium;
    font-weight: 600;
}
.table_data {
    margin-top: 5%;
    margin-bottom: 5%;
    background: var(--first_color);
    border-radius: 10px;
    box-shadow: 1px 1px 3px #333;
}
table tbody tr:hover td {
    background-color: var(--dashboardtable);
    cursor: pointer;
}
.card {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px var(--fourth_color);
    box-sizing: border-box;
}
.card:hover{
    box-shadow: 0px 0px 10px 2px var(--lgreen);
   cursor:pointer
}
.content {
    padding: 20px;
    max-width: 100%;
    background: var(--second_color);
    margin-top: 10%;
    text-align: center;
}
.card img {
    box-shadow: 0px 0px 15px 2px lightgray;
}
.reply_action {
    background: var(--first_color);
    box-shadow: inset 0px 0px 15px 2px rgb(232, 237, 193);
}
a.action.email {
    padding: 2px;
    text-decoration: none;
    color: var(--third_color);
}
a.action.phone {
    padding: 2px;
    text-decoration: none;
    color: var(--third_color)
}
a.action.email:hover {
box-shadow: 0px 0px 10px 2px var(--success);
   cursor:pointer;
    
}
a.action.phone:hover {
   box-shadow: 0px 0px 10px 2px var(--success);
   cursor:pointer;
}
@media (max-width: 768px) { 
   section.flex_box{
    flex-wrap: wrap;
   }
    .business_status{
            flex: 1 0;
    }
    .table_data{
        overflow: auto;
    }
    .table_data h3{
        position:sticky;
    }
 }
/* Mobile devices Items stack vertically when screen is 600px or less */
@media screen and (max-width: 600px) {
  .flex_box {
    flex-direction: column;
  }
}
/* 2. Desktop devices (1024px or wider) */
@media screen and (min-width: 1024px) {
  .flex_box {
    flex-direction: row; /* Items sit side-by-side */
    justify-content: space-around;
  }
  
  .item {
    flex: 1; /* Items share space equally on desktop */
  }
}

