section.flex_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 16px 16px;
    background: var(--first_color);
    border-radius: 10px;
    box-shadow: 1px 1px 3px #333;
}
.business_status {
    display: flex;
    gap: 16px;
    padding: 16px;
    background: var(--second_color);
    box-shadow: 1px 1px 3px #333;
}
h4.status_title {
    font-size: medium;
    font-weight: 600;
}